/*-- scss:defaults --*/

/*-- scss:rules--*/
// Change banner color (assuming navbar)
.navbar {
  background-color: #c4cacf !important; // replace with your desired color
}

// Change body background and text colors
body {
  background-color: #f8f9fa; // light gray background
  color: #727475; // dark text
}

// Change link colors
a {
  color: #33cccc;
}
